*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000e7;
    color: #f0f8ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.CRUDS{
    width: 80%;
    margin: auto;
}

.head{
  
    text-align: center;
    text-transform: uppercase;
    margin: 4px 0;
    padding: 5px;
}
input{

    width: 100%;
    height: 25px;
    background-color: #0f0f0f;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 5px 0;
    padding: 5px;
    color: white;
    
}
input:focus{
background-color: black;
transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: rgb(226, 26, 26);
}
#total::before{
    content: 'Total : ';
}
button{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    font-size: large;
    background-color: yellow;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #edf043;
    letter-spacing: 2px;
}

.btnSearch{

    display: flex;
    justify-content: space-between;
}
.btnSearch button{

    width: 45%;

}

#btnDelete{

    margin: 20px 0;
}
table{

    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}

td,th{
    padding: 5px;
}